<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="../../public/assets/css/changepasswordstyle.css">
</head>

<body>
    <div class="main">
        <div class="change-password-box">
            <h3 style="text-align: center;margin: 20px 10px;">Change your current password.</h3>
            <br>
            <form name="Change password" id="changePassword" class="input-group" onsubmit="validateloginform()">
                <!-- <input type="email" name="Email Id" class="input-field" placeholder="Email Id" required> -->
                <input name="User Password" type="password" class="input-field" placeholder=" Current Password" required
                    minlength="8">
                <input name="New Password" type="password" class="input-field" placeholder=" New Password" required
                    minlength="8">
                <input name="Confirm Password" type="password" class="input-field" placeholder="Confirm Password"
                    required>
                <button type="submit" class="submit-btn ">Confirm</button>
            </form>
        </div>
    </div>
</body>
<script src="../../public/assets/js/changepassword.js"></script>

</html>