<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us - ECEA</title>
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./public/assets/css/stylecontact.css" />
    <link rel="stylesheet" href="./public/assets/css/stylepartials.css" />
    <script
      defer
      src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"
    ></script>
    <script defer src="../../public/assets/js/alert.js"></script>
  </head>
  <body>
    <header><%- include('../partials/navbar'); %></header>
    <section>
      <div class="container">
        <h1>Contact Us!!</h1>
        <div class="row1">
          <div class="col1">
            <div class="inputbox">
              <input type="text" name="" required="required" />
              <span class="text">Name</span>
              <span class="line"></span>
            </div>
          </div>
        </div>
        <div class="row1">
          <div class="col1">
            <div class="inputbox">
              <input type="email" name="" required="required" />
              <span class="text">Email</span>
              <span class="line"></span>
            </div>
          </div>
          <div class="col1">
            <div class="inputbox">
              <input type="tel" name="" required="required" />
              <span class="text">Mobile</span>
              <span class="line"></span>
            </div>
          </div>
        </div>
        <div class="row1">
          <div class="col1">
            <div class="inputbox textarea">
              <textarea required="required"></textarea>
              <span class="text">Type your message here...</span>
              <span class="line"></span>
            </div>
          </div>
        </div>
        <div class="row1">
          <div class="col1">
            <button type="submit" class="btn">send</button>
          </div>
        </div>
      </div>
    </section>
    <!-- footer -->
    <section class="footer"><%- include('../partials/footer'); %></section>
  </body>
</html>
