<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../../public/assets/css/styleevents.css" />
    <link href="../../public/assets/eceaGreen.png" rel="icon" />
    <link href="../../public/assets/css/stylesponsors.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../public/assets/css/stylepartials.css" />
    <link rel="stylesheet" href="../../public/assets/css/styletogglebutton.css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <title>Events</title>
    <script defer src="../../public/assets/js/index.js"></script>
    <script defer src="../../public/assets/js/togglebutton.js"></script>
  </head>
  <body>
    <header class="navbar-header"><%- include('../partials/navbar'); %></header>
    <div class="title">
      <h2 >Events</h2>
    </div>
     
    <div class="subtitle">
      <button  id= "button-631" class="button-631" role="button" onclick="show_hide1()" >Tech events</button>
      <button id="button-632" class="button-632" role="button" onclick="show_hide2()" >Non Tech events</button> 
    </div>
    <div id="toggle1">
      <div class="container">
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="subtitle">
      
    </div>
    <div id="toggle2">
      <div class="container">
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="circle">
            <h2>Title</h2>
          </div>
          <div class="contact">
            <h2>i</h2>
            <div>
              <p>Contacts:</p>
              <p>XYZ : 123456789</p>
              <p>XYZ : 123456789</p>
            </div>
          </div>
          <div class="content">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Repudiandae, magni dolore alias nulla debitis fugiat voluptates
              autem et qui consequuntur.
            </p>
            <div>
              <a href="#">Register</a>
            </div>
          </div>
        </div>
        x
      </div>
  
    </div>

    <script>
      document.getElementById("toggle2").style.display="none";
      document.getElementById("button-631").style.fontWeight="900";
      document.getElementById("button-631").style.color="#000000";
      document.getElementById("button-631").style.backgroundColor="white";
      document.getElementById("button-632").style.opacity="0.2";
    </script>
    
    
    <!-- footer -->
    <section class="footer">
      <p>copyright @2022</p>
      <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </section>
  </body>
</html>
