<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../../public/assets/css/forgotpasswordstyle.css">
</head>
<body>
    <div class="main">
        <div class="forgot-password-box">
            <p style="text-align: center;margin: 20px 10px;">Please enter your registered Email Id to receive a link to change password.</p>
            <br>
            <form name="forgot password" id="forgotPassword" class="input-group" onsubmit="return validateloginform()">
                <input type="email" name="Email Id" class="input-field" placeholder="Email Id" required>
                <button type="submit" class="submit-btn ">Send Mail</button>
            </form>
        </div>
    </div>
</body>
<script src="../../public/assets/js/forgotpassword.js"> </script>
</html>