<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>VISION '22</title>
    <meta
      content="VISION is a National Level Intercollegiate Technical Symposium organized by the Department of Electronics and Communication Engineering. Exclusively run by students, it's an annual summit for both young and experienced industry practitioners, researchers and students who join to share experiences and develop networks. It provides ample opportunities for the multi-pronged growth of the student fraternity and has undoubtedly become a must-visit-fest for every engineering student."
      name="description"
    />

    <meta
      content="VISION, vision, visionece, visionceg,vision sympo,Symposium, CEG, ECE, techincal, College of engineering guindy, Technical events, Non technical events"
      name="keywords"
    />
    <link href="./public/assets/eceaGreen.png" rel="icon" />
    <link rel="stylesheet" href="./public/assets/css/style.css" />
    <link rel="stylesheet" href="./public/assets/css/stylepartials.css" />
    <link rel="stylesheet" href="./public/assets/css/styleglitch.css" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald"
      rel="stylesheet"
      type="text/css"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Rancho&display=swap");
    </style>
    <script defer src="./public/assets/js/home.js"></script>
    <script defer src="./public/assets/js/slider.js"></script>
  </head>
  <body>
    <section class="sticky">
      <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
      </div>
    </section>
    <header class="navbar-header"><%- include('../partials/navbar'); %></header>
    <!-- <div class="mainarea">
      <h2 class="info">
        <span>VISION'22</span><br />27th Inter College Symposium<br />
      </h2>
    </div> -->
    <div class="container">
      <div class="texts">
        <div class="glitch" data-text="VISION">
          VISION<br /><span class="subtitle"
            >Where Minds Meet Opportunities</span
          >
        </div>
        <div class="glow">VISION</div>
      </div>
    </div>
    <div class="scanlines"></div>

    <div class="operations-container">
      <h1 style="text-align: center">About our initiatives</h1>
      <div class="operations">
        <div class="operations__tab-container">
          <button
            class="btn-op operations__tab operations__tab--1 operations__tab--active"
            data-tab="1"
          >
            <span>01</span>VISION
          </button>
          <button
            class="btn-op operations__tab operations__tab--2"
            data-tab="2"
          >
            <span>02</span>RESONANCE
          </button>
          <button
            class="btn-op operations__tab operations__tab--3"
            data-tab="3"
          >
            <span>03</span>GO GREEN INITIATIVE
          </button>
        </div>
        <div
          class="operations__content operations__content--1 operations__content--active"
        >
          <p>
            <span style="color: #ffd700">VISION</span>, a national level
            inter-college technical symposium is the pinnacle event of ECEA.
            VISION, which is exclusively run by students, is an annual summit
            for Electronics and Communication Engineers from all over the
            country to come together and share their knowledge and expertise. It
            acts as a platform for students to exhibit their prowess in
            cutting-edge technologies. VISION 2022 will also bring the same
            gusto.
          </p>
        </div>

        <div class="operations__content operations__content--2">
          <p>
            <span style="color: #ffd700">RESONANCE</span> is an intra college
            symposium which is organized by the students. It is particularly
            conducted for freshers to help them adapt to college and mingle with
            their friends and seniors. It has multiple events and workshops.
            This symposium helps students to get more engaged in the field of
            electronics and communication
          </p>
        </div>
        <div class="operations__content operations__content--3">
          <p>
            Climate change is a global problem, affecting everyone and going
            green is one of the best ways to preserve our planet to sustain life
            for future generations. We, DECE adopted
            <span style="color: #ffd700">GO GREEN INITIATIVE</span> to be part
            our initiative in controlling pollution and global warming. We
            planted 100+ saplings across our campus and also gave sapling to our
            friends and students to make our surroundings greener and cleaner.
          </p>
        </div>
      </div>
    </div>
    <section class="info">
      <div>
        <h2>about CEG</h2>
        <p>
          College of Engineering Guindy (CEG), is one of the prestigious and
          oldest technical institutions in India. The student friendly and
          eco-friendly campus has successfully completed its 227th year of
          providing exhaustive opportunities for the excellence of its students
          - in short, energizing young minds, encouraging every effort in all
          earnestness, and providing an exemplary environment to accomplish any
          endeavour. Having close ties with industries, excellent research
          practices and multiple extra-curricular activities, CEG helps pave a
          path for the multipronged growth of its students. CEG is an embodiment
          of excellence.
        </p>
      </div>
      <div>
        <h2>DECE</h2>
        <p>
          The department of ECE became a part of the university in 1945 and is
          one of the reputed departments in the nation. The members of this
          department form the core of intellects that come up with challenging
          idea every day.
        </p>
        <p>
          To add to its credits, this department had launched ANUSAT- a
          microsatellite with the help of ISRO and ANUSAT-2 in 2017.This
          department is thus a platform to explore electronics and envision
          communication.
        </p>
      </div>
      <div>
        <h2>ECEA</h2>
        <p>
          ECEA was set up with an objective to organize various activities that
          contribute to the academic and professional development of students,
          along with leadership qualities, teamwork, and other essential
          employability skills for nearly three decades. ECEA functions mainly
          as a student organization comprising around 1000 students headed by
          our most revered HOD Dr. M. Meenakshi. ECEA's prime activities
          encompass staging DIRECTIVITY (for freshers), RESONANCE (an intra-
          college technical event) and VISION (an inter-college technical
          symposium) which is stepping into its whopping 27th edition after the
          successful fruition of its silver jubilee.
        </p>
        <p>
          With a footfall of more than 500, we are a welfare body which creates
          a platform for young minds to share their thoughts and aid them in
          becoming productive engineers. We have strong ties with many of our
          alumni who are part of various top institutes and industries across
          the globe. To enable our fellow students in choosing the right career
          paths, we conduct career guidance programs for their placements and
          various entrance examinations. We also conduct four events per month
          across the technical and non-technical domains along with workshops,
          with topics ranging from field of electronics and automation to art
          and design. We also conduct software training in Matlab, Verilog, C++,
          C, Python, etc. to give exposure to the young minds who are seeking to
          gain knowledge.
        </p>
        <p>
          The symposiums are conducted in partnership with top industries, who
          conduct various workshops to give the students a glimpse the growing
          field of technology and what awaits them after their graduation. With
          the active participation of students from various colleges, an
          atmosphere for vast knowledge transfer is created, which helps the
          students to both compete and learn in a healthy environment.
        </p>
      </div>
    </section>
    <section class="pics web-and-tech">
      <h1>web and tech cores</h1>
      <div class="content">
        <div class="cards">
          <div class="card">
            <img
              src="./public/assets/images/core_people/core_nandha.jpeg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4>Nandha Kumar V</h4>
              <p>Frontend</p>
            </div>
          </div>
          <div class="card">
            <img
              src="./public/assets/images/core_people/core_vishal.png"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4>Vishal K Setti</h4>
              <p>Frontend</p>
            </div>
          </div>
          <div class="card">
            <img
              src="./public/assets/images/core_people/core_naveen.jpg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4>Naveen S</h4>
              <p>Frontend</p>
            </div>
          </div>
          <div class="card">
            <img
              src="./public/assets/images/core_people/core_bharath.jpeg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4>Bharath S</h4>
              <p>Backend</p>
            </div>
          </div>
          <div class="card">
            <img
              src="./public/assets/images/core_people/core_balasaravanan.jpg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4>Balasaravanan J</h4>
              <p>Frontend</p>
            </div>
          </div>
          <div class="card">
            <img
              src="./public/assets/images/core_people/core_somesh.jpg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4>Somesh</h4>
              <p>Backend</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="pics office-bearers">
      <h1>office bearers</h1>
      <div class="content">
        <div class="cards">
          <div class="card">
            <img
              src="./public/assets/images/core_people/Yamini R-President.png"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4><b>Yamini R</b></h4>
              <p>President</p>
            </div>
          </div>
          <div class="card">
            <img
              src="./public/assets/images/core_people/Priyadharshini-VicePresident.jpg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4><b>Priyadharshini</b></h4>
              <p>Vice President</p>
            </div>
          </div>
          <div class="card">
            <img
              src="./public/assets/images/core_people/Abdul Kader Shafeeq - VicePresident.jpg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4><b>Abdul Kader Shafeeq</b></h4>
              <p>Vice President</p>
            </div>
          </div>
          <div class="card">
            <img
              src="./public/assets/images/core_people/Benita-Deputy Treasurer.jpg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4><b>Benita</b></h4>
              <p>Deputy Treasurer</p>
            </div>
          </div>
          <div class="card">
            <img
              src="./public/assets/images/core_people/Niesha A-General Secretary.jpeg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4><b>Niesha A</b></h4>
              <p>General Secretary</p>
            </div>
          </div>
          <div class="card">
            <img
              src="./public/assets/images/core_people/Yuvan Karthi-General Secretary.jpg"
              alt="Avatar"
              style="width: 100%"
            />
            <div class="card-container">
              <h4><b>Yuvan Karthi</b></h4>
              <p>General Secretary</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section" id="section--3">
      <div class="section__title section__title--testimonials">
        <h2 style="text-align: center" class="gallery">Gallery</h2>
      </div>

      <div class="slider">
        <div class="slide slide--1">
          <div class="testimonial">
            <div class="testimonial__text img-1">
              <img src="./public/assets/images/kolam.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="slide slide--2">
          <div class="testimonial">
            <div class="testimonial__text img-2">
              <img src="./public/assets/images/group.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="slide slide--3">
          <div class="testimonial">
            <div class="testimonial__text img-3">
              <img src="./public/assets/images/lobby.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="slide slide--4">
          <div class="testimonial">
            <div class="testimonial__text img-4">
              <img src="./public/assets/images/laxmi.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="slide slide--4">
          <div class="testimonial">
            <div class="testimonial__text img-4">
              <img src="./public/assets/images/ece-batch.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="slide slide--4">
          <div class="testimonial">
            <div class="testimonial__text img-4">
              <img src="./public/assets/images/resonance.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="slide slide--4">
          <div class="testimonial">
            <div class="testimonial__text img-4">
              <img src="./public/assets/images/line-tracer.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="slide slide--4">
          <div class="testimonial">
            <div class="testimonial__text img-4">
              <img src="./public/assets/images/jude.jpg" alt="" />
            </div>
          </div>
        </div>

        <div class="slide slide--4">
          <div class="testimonial">
            <div class="testimonial__text img-4">
              <img src="./public/assets/images/suresh.jpg" alt="" />
            </div>
          </div>
        </div>

        <button class="slider__btn slider__btn--left">&larr;</button>
        <button class="slider__btn slider__btn--right">&rarr;</button>
        <div class="dots"></div>
      </div>
    </section>
    <section class="yt-video">
      <h1>Video</h1>
      <div class="video-container">
        <%- include('../partials/embedvideo'); %>
      </div>
    </section>
    <!-- footer -->
    <section class="footer"><%- include('../partials/footer'); %></section>
  </body>
</html>
