<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Schedule</title>
    <link rel="stylesheet" href="./public/assets/css/styleschedule.css" />
    <link rel="stylesheet" href="./public/assets/css/stylepartials.css" />
    <link href="assets/eceaGreen.png" rel="icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <nav>
        <a href="index.html"
          ><img src="./public/assets/ECEA-gold.png" alt="logo" height="70"
        /></a>
        <div class="nav-links" id="navLinks">
          <i class="fa fa-times" onclick="hideMenu()"></i>
          <ul>
            <li><a href="index.html">HOME</a></li>
            <li><a href="workshops.html">WORKSHOPS</a></li>
            <li><a href="events.html">EVENTS</a></li>
            <li><a href="sponsors.html">SPONSORS</a></li>
            <li><a href="resonance.html">RESONANCE</a></li>
            <li><a href="schedule.html">STAY & SCHEDULE</a></li>
            <li><a href="contact.html">CONTACT US</a></li>
            <li><a href="login.html">LOGIN</a></li>
          </ul>
        </div>
        <i class="fa fa-bars" onclick="showMenu()"></i>
      </nav>
    </header>
    <h2>Click the below button to register for Hostel Stay</h2>
    <div class="wrapper"> <a href="https://docs.google.com/forms/d/e/1FAIpQLSc0Dw2chlUKuUM4N1kDeZotNaPt5kiFPildKCy-pxqOG6FclQ/viewform"><button class="neons">Register Here</button></a> 
    </div>
    <div class="img-container">
      <div class="cell"> <img src="./public/assets/images/vimage3.jpeg" /></div>
      <br>
      <div class="button">DAY 1</div>
      <div class="cell"> <img src="./public/assets/images/day1.jpeg" /></div>
      <div class="button">DAY 2</div>
      <div class="cell"> <img src="./public/assets/images/day2.jpeg" /></div>
      <div class="button">DAY 3</div>
      <div class="cell"> <img src="./public/assets/images/day3.jpeg" /></div>
      <div class="cell"> <img src="./public/assets/images/vimgae1.jpeg" /></div>
      <div class="cell"> <img src="./public/assets/images/vimage2.jpeg" /></div>
      <div class="button"><a href="https://docs.google.com/forms/d/e/1FAIpQLSegL5rmnIoibt1kRT0mn9zsuW8qGDddYMe6J7G4pOgWDahZjQ/viewform?usp=sf_link">STUDENT AMBASSADOR</a></div>
      <div class="cell"> <img src="images/ambassdor.jpeg" /></div>
    </div>
  
    <section class="footer">
      <p>copyright @2022</p>
      <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
      </div>
    </section>
    </body>
    </html>