<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width",initial-scale=1.0">
    <title>Workshops</title>
    <link rel="stylesheet" href="../../public/assets/css/styleworkshops.css" />
    <link href="assets/eceaGreen.png" rel="icon" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./public/assets/css/stylepartials.css" />
    <script defer src="../../public/assets/js/index.js"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Rancho&display=swap");

      .center_div {
        display: grid;
        place-items: center;
      }
      h1 {
        color: #fff; /*#fff*/
        font-size: 4rem;
        text-transform: uppercase;
        position: relative;
      }
      h1::before {
        content: "Workshops";
        width: 100%;
        color: #ffd700;
        position: absolute;
        top: 0;
        left: 0;
        border-right: 0.4rem solid #ffd700;
        animation: slide 3s linear infinite;
        -webkit-animation: slide 3s linear infinite;
        overflow: hidden;
      }
      @keyframes slide {
        0% {
          width: 0%;
        }
        50% {
          width: 100%;
        }
        100% {
          width: 0%;
        }
      }
    </style>
  </head>
  <body>
    <header><%- include('../partials/navbar'); %></header>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>

    <div class="center_div">
      <h1>Workshops</h1>
    </div>
    <div class="container">
      <div class="card">
        <div class="circle">
          <h2>Title</h2>
        </div>
        <div class="contact">
          <h2>i</h2>
          <div>
            <p>Contacts:</p>
            <p>XYZ : 123456789</p>
            <p>XYZ : 123456789</p>
          </div>
        </div>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repudiandae, magni dolore alias nulla debitis fugiat voluptates
            autem et qui consequuntur.
          </p>
          <div>
            <a href="#">Register</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <h2>Title</h2>
        </div>
        <div class="contact">
          <h2>i</h2>
          <div>
            <p>Contacts:</p>
            <p>XYZ : 123456789</p>
            <p>XYZ : 123456789</p>
          </div>
        </div>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repudiandae, magni dolore alias nulla debitis fugiat voluptates
            autem et qui consequuntur.
          </p>
          <div>
            <a href="#">Register</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <h2>Title</h2>
        </div>
        <div class="contact">
          <h2>i</h2>
          <div>
            <p>Contacts:</p>
            <p>XYZ : 123456789</p>
            <p>XYZ : 123456789</p>
          </div>
        </div>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repudiandae, magni dolore alias nulla debitis fugiat voluptates
            autem et qui consequuntur.
          </p>
          <div>
            <a href="#">Register</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <h2>Title</h2>
        </div>
        <div class="contact">
          <h2>i</h2>
          <div>
            <p>Contacts:</p>
            <p>XYZ : 123456789</p>
            <p>XYZ : 123456789</p>
          </div>
        </div>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repudiandae, magni dolore alias nulla debitis fugiat voluptates
            autem et qui consequuntur.
          </p>
          <div>
            <a href="#">Register</a>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <h2>Title</h2>
        </div>
        <div class="contact">
          <h2>i</h2>
          <div>
            <p>Contacts:</p>
            <p>XYZ : 123456789</p>
            <p>XYZ : 123456789</p>
          </div>
        </div>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit.
            Repudiandae, magni dolore alias nulla debitis fugiat voluptates
            autem et qui consequuntur.
          </p>
          <div>
            <a href="#">Register</a>
          </div>
        </div>
      </div>
    </div>
    <section class="footer"><%- include('../partials/footer'); %></section>
  </body>
</html>
