<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width",initial-scale=1.0">
    <title>Workshops</title>
    <link rel="stylesheet" href="./public/assets/css/styleworkshops.css" />
    <link href="./public/assets/css/stylesponsors.css" rel="stylesheet" />
    <link rel="stylesheet" href="./public/assets/css/stylepartials.css" />
    <link href="./public/assets/eceaGreen.png" rel="icon" />
    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <style>
      @import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Rancho&display=swap");
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: "Nunito";
      }
      .center_div {
        display: grid;
        place-items: center;
      }
      h1 {
        color: #fff; /*#fff*/
        font-size: 4rem;
        text-transform: uppercase;
        position: relative;
      }
      h1::before {
        content: "Workshops";
        width: 100%;
        color: #2ed573;
        position: absolute;
        top: 0;
        left: 0;
        border-right: 0.4rem solid #2ed573;
        animation: slide 3s linear infinite;
        -webkit-animation: slide 3s linear infinite;
        overflow: hidden;
      }
      @keyframes slide {
        0% {
          width: 0%;
        }
        50% {
          width: 100%;
        }
        100% {
          width: 0%;
        }
      }
    </style>
  </head>
  <body>
    <header><%- include('../partials/navbar'); %></header>
    <div class="center_div">
      <h1>Workshops</h1>
    </div>
    <div class="container">
      <div class="card">
        <div class="circle">
          <h2>01</h2>
        </div>
        <div class="content">
          <p>
            IIT Madras, India’s top technical institute, welcomes you to the
            world’s first BSc Degree program in Programming and Data Science.
            <br />
            For the first time, you can work towards an UG degree / diploma from
            an IIT regardless of your age or location.
            <br />
            <b>Prof. Bhaskar Ramamurthi, Director, IIT Madras</b>
          </p>
          <a href="#">Register</a>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <h2>02</h2>
        </div>
        <div class="content">
          <p>
            IIT Madras, India’s top technical institute, welcomes you to the
            world’s first BSc Degree program in Programming and Data Science.
            <br />
            For the first time, you can work towards an UG degree / diploma from
            an IIT regardless of your age or location.
            <br />
            <b>Prof. Bhaskar Ramamurthi, Director, IIT Madras</b>
          </p>
          <a href="#">Register</a>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <h2>03</h2>
        </div>
        <div class="content">
          <p>
            IIT Madras, India’s top technical institute, welcomes you to the
            world’s first BSc Degree program in Programming and Data Science.
            <br />
            For the first time, you can work towards an UG degree / diploma from
            an IIT regardless of your age or location.
            <br />
            <b>Prof. Bhaskar Ramamurthi, Director, IIT Madras</b>
          </p>
          <a href="#">Register</a>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <h2>04</h2>
        </div>
        <div class="content">
          <p>
            IIT Madras, India’s top technical institute, welcomes you to the
            world’s first BSc Degree program in Programming and Data Science.
            <br />
            For the first time, you can work towards an UG degree / diploma from
            an IIT regardless of your age or location.
            <br />
            <b>Prof. Bhaskar Ramamurthi, Director, IIT Madras</b>
          </p>
          <a href="#">Register</a>
        </div>
      </div>
      <div class="card">
        <div class="circle">
          <h2>05</h2>
        </div>
        <div class="content">
          <p>
            IIT Madras, India's top technical institute, welcomes you to the
            world's first BSc Degree program in Programming and Data Science.
            <br />
            For the first time, you can work towards an UG degree / diploma from
            an IIT regardless of your age or location.
            <br />
            <b>Prof. Bhaskar Ramamurthi, Director, IIT Madras</b>
          </p>
          <a href="#">Register</a>
        </div>
      </div>
    </div>

    <!-- footer -->
    <section class="footer"><%- include('../partials/footer'); %></section>
  </body>
</html>
