<p>copyright @2022</p>
<div class="icons">
  <a href="https://m.facebook.com/CEGECEA/" target="balnk"
    ><i class="fa fa-facebook"> </i
  ></a>
  <a href="https://youtube.com/channel/UCIS1_QtpXl-jU2d9ESraN5A" target="balnk"
    ><i class="fa fa-youtube"> </i
  ></a>
  <a href="https://instagram.com/ecea_ceg?utm_medium=copy_link" target="balnk"
    ><i class="fa fa-instagram"> </i
  ></a>
  <a
    href="https://www.linkedin.com/mwlite/company/electronics-and-communication-engineering-association-of-college-of-engineering-guindy"
    target="balnk"
    ><i class="fa fa-linkedin"> </i
  ></a>
</div>
