<nav id="navbar">
  <a href="/"><img src="../../public/assets/ECEA-gold.png" alt="logo" /></a>
  <div class="nav-links" id="navLinks">
    <i class="fa fa-times" onclick="hideMenu()"></i>
    <ul>
      <li><a href="/">HOME</a></li>
      <li><a href="workshops">WORKSHOPS</a></li>
      <li><a href="events">EVENTS</a></li>
      <li><a href="sponsors">SPONSORS</a></li>
      <li><a href="resonance">RESONANCE</a></li>
      <li><a href="contact">CONTACT US</a></li>
      <div class="dropdown">
        <button class="dropbtn">Account</button>
        <div class="dropdown-content">
        <a class="lbtn" href="login">Login/Sign Up</a>
        <a href="userdashboard">View Profile</a>
        <a class="lbtn" href="/">Log out</a>
        </div>
      </div>
    </ul>
  </div>
  <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>
