<nav id="navbar">
  <a href="index.html"
    ><img src="../../public/assets/ECEA-gold.png" alt="logo"
  /></a>
  <div class="nav-links" id="navLinks">
    <i class="fa fa-times" onclick="hideMenu()"></i>
    <ul>
      <li><a href="index.html">HOME</a></li>
      <li><a href="workshops.html">WORKSHOPS</a></li>
      <li><a href="events.html">EVENTS</a></li>
      <li><a href="sponsors.html">SPONSORS</a></li>
      <li><a href="resonance.html">RESONANCE</a></li>
      <li><a href="contact.html">CONTACT US</a></li>
      <li><a href="login.html">LOGIN</a></li>
    </ul>
  </div>
  <i class="fa fa-bars" onclick="showMenu()"></i>
</nav>
